body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #F7F7F7;
  font-family: 'Lora', serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Raleway', sans-serif;
  //font-family: 'Raleway Dots', cursive;
}


