body {
  margin: 0;
  padding: 0;
  background: #F1F1F1;
  font-family: 'Playfair Display', serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Josefin Sans', sans-serif;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  
}


button, a{
  cursor: pointer;
}

.container{
  max-width: 1442px;
}

.mdl-layout-title{
  background-color: #1c4e80;
  color: #fff;
}


